body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

#acertijo-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#respuesta-input {
    padding: 8px;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado-container {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
